/target
**/*.rs.bk
*.pdb
.claude
arcux.md
phase1_details.md
phase1b_details.md
phase2_details.md
phase3_details.md
phase3b_details.md
phase4_details.md
phase4b_details.md
phase4b+_details.md
phase4b++_details.md
pending.md
phase5_details.md
phase5b_details.md
